:root {
    --highlight-color: #F29E4C;
    --background-color: #121212;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--background-color);
    font-family: 'Raleway', sans-serif;
}

header {
    font-family: 'Play', serif;
    position: fixed;
    margin-top: 0;
    width: 100vw;
    height: 80px;
    background: var(--background-color);
    color: aliceblue;
}

#name-logo {
    font-size: 1.6em;
    font-weight: bolder;
    float: left;
    padding-left: 20px;
    margin: 10px;
}

#nav-bar {
    float: right;
    margin: 0px 20px;
    padding: 5px;
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;
}

#nav-bar a {
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    color: aliceblue;
}

#nav-bar a:not(#blog-tag)::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--highlight-color);
    transition: width .3s;
}

#nav-bar a:not(#blog-tag):hover::after {
    width: 100%;
    transition: width .3s;
}

#blog-tag::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--highlight-color);
}

main {
    margin: 150px auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 80%;
}

.post-name {
    font-size: 7em;
}

.post-tag {
    color: var(--highlight-color);
}

.post-time {
    font-weight: 200;
}

.post-content {
    width: 70%;
    margin: 50px auto;
    font-size: 1.5em;
    font-family: 'Noto Sans HK', sans-serif;
}

.post-content p {
    font-weight: 300;
}

.highlight {
    color: var(--highlight-color);
}

.image-wrapper {
    text-align: center;
    height: 400px;
}

img {
    max-height: 100%;
}

footer {
    height: 100px;
    background-color: #1c1c1c;
    color: #FBF9F5;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Play', serif;
}